
.container-fluid#menu {
  background-image: url("Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 110px;
  padding: 10px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100%;
}
/*responsive background code from Deepak Shinde http://stackoverflow.com/questions/16250119/bootstrap-responsive-background-image*/


div.container-fluid#mini {
  background: linear-gradient(#2498f4, #1d86d9);
  height: 44px;
}

div.row#dash {
  background: #33cc66;
  border-radius: 7px;
  height: 75px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* border */
/* .gray-border {
  border: 15px solid;
  border-radius: 7px;
  border-color: #f6f6f6;
  margin-left: -15px;
  margin-bottom: 10px;
  padding-top: 0px;
}
*/

/* headers */

h1 /* "Dashboard" */ {
  color: white;
  font-size: 3.0112500301128em;
  margin-top: 14px;
}

h2 /*orange announcment title*/ {
  color: #fe7f13;
  font-size: 1.1710416783772em;
}

h3 /* inside titles */ {
  color: #2498f4;
  font-size: 2.6766666934336em;
}

h3#tasks{
    padding-left: 10px;
}

h3#analytics{
    padding-left: 42px;
}

h3#recommendations {
  padding-left: 1px;
}

/* paragraphs */
.announcement-text {
  color: #777777;
  font-size: 1.1em;
  padding-top: 15px;
}
.analytics-text {
  color: #a0a0a0;
  font-size: 1.0873958442073999em;
  text-transform: uppercase;
}

div.form-group#form {
  background: #FFFFFF;
  border-radius: 3px;
  margin-top: 20px;
  padding-right: 12px;
  width: 200px;
  float: right;
}

.form-control {
  width: 155px;
  display: inline;
  margin-right: 2px;
}

.row#ad {
  background: #2498f4;
  height: 220px;
  margin-top: 20px;
  position: relative;
}

#footer-1 {
  background: linear-gradient(#f5f5f5, #fbfbfb);
  box-shadow: 0 4px 8px 0 rgba(0, 0.2, 0, 0), 0 6px 20px 0 rgba(0, 0.19, 0, 0);
  /* shadow http://www.w3schools.com/css/css3_shadows.asp */
  color: #b0b0b0;
  height: 60px;
}

.mini-menu{
  color: white;
  display: inline-block;
  float: right;
  padding: 0px;
  text-align: center;
}


div.box {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  height: 160px;
}

div.adspace-1 {
  padding-top: 0px;
}

div.adspace-2 {
  padding-top: 0px;
}

div.adspace-3 {
  padding-top: 0px;
}

/* images */
img#ad-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

img#ad-3 {
  float: right;
}

/* icons */
span#task-icon {
  color: #999999;
  float: right;
  font-size: 1em;
}

/* font */
body, h1, h2, h3, p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* sprite */
.sprite {
  display:block;
}

/* header elements */
a.mini {
  padding: 10px;
  text-align: center;
}

a.help {
  /*border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #1c85d8;
  */
  padding: 10px;
  text-align: center;
}

a.settings {
  /*border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #1c85d8;*/
  padding-left: 10px;
  text-align: center;
}

.header-text {
  padding: 7px;
  color: white;
}

a.header-links {
  color: #FFFFFF;
}

/*footer elements */

a.tutorials {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #DDDDDD;
  color: #b0b0b0;
  padding: 10px;
  text-align: center;
}

a.support {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #DDDDDD;
  color: #b0b0b0;
  padding: 10px;
  text-align: center;
}

a.blog {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #DDDDDD;
  color: #b0b0b0;
  padding:10px;
  text-align: center;
}

div.footer-text {
  vertical-align: middle;
  padding-top: 15px;
  color: #b0b0b0;
}

a.footer-links {
  vertical-align: middle;
  color: #2498f2;
  font-weight: bold;
}

a.logout {
  vertical-align: middle;
  font-weight: normal;
  padding-left: 10px;
}

/* table */

td.task-list {
  font-size: 1.7565625175658em;
  color: #b0b0b0;
}

td.rec-list {
  font-size: 1.3383333467168em;
  color: #777777;
}

/* icon header */
.container.icon-content {
  margin-top: 10px;
  padding: 5px;
}

.menu-icons {
  padding-left: 15px;
  padding-right: 15px;
}

.list-inline {
  display: inline-block;
}

/* internal borders */
.announcement-tb {
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
}

/* form */
input#blue-search {
  background-image: url("css/sprites.png");
}

.right-side {
  float: right;
}

.left-side {
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
}

#analytics-container {
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
}

.end-container {
  border-top-color: #eeeeee;
  border-top-style: solid;
  border-top-width: 1px;
}

#graph-contain {
    padding-right:20px;
}

#activity-contain {
    margin-bottom: 20px;
    padding: 15px;
}

#content-background {
  background: url(shade.png) no-repeat;
  background-size: 100% auto;
  padding: 15px;
}

.white-inside {
  background-color: #FFFFFF;
}

/* container
.container {
  margin-left: 15px;
}
*/

#ad-block {
  background-color: #2498f4;
  height: 200px;
  margin: 0px 20px;
  padding: 20px 0px;
  position: relative;
  text-align: center;
}

.ad-box {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  height: 160px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

#footer-1 {
  background-color: linear-gradient(#f5f5f5, #fbfbfb);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* shadow http://www.w3schools.com/css/css3_shadows.asp */
  color: #b0b0b0;
  height: 46px;
}

.border-right {
  border-right:1px;
  border-right-style: solid;
  border-right-color: #dddddd;
  padding-top: 0px;
  padding-left: 10px;
}

/* #ariel-winter {

}
*/
.inline {
display: inline-block
}

.foot-pad {
  padding-top: 10px;
}

.foot-pad-mini {
  padding-top: 3px;
}

.foot-space {
  padding-left: 5px;
}
