
.container-fluid#menu {
  background-image: url("Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 110px;
  padding: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100%;
}
/*responsive background code from Deepak Shinde http://stackoverflow.com/questions/16250119/bootstrap-responsive-background-image*/


#mini {
  background: linear-gradient(#2498f4, #1d86d9);
  height: 44px;
}

#dash {
  background-color: #33cc66;
  border-radius: 7px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px 20px 15px;

}

/* border */
/* .gray-border {
  border: 15px solid;
  border-radius: 7px;
  border-color: #f6f6f6;
  margin-left: -15px;
  margin-bottom: 10px;
  padding-top: 0px;
}
*/

/* headers */

h1 /* "Dashboard" */ {
  color: white;
  font-size: 3.0112500301128em;
  margin-top: 14px;
}

h2 /*orange announcment title*/ {
  color: #fe7f13;
  border-width: 1px;
  font-size: 1.1710416783772em;
  text-align: center;
}

h3 /* inside titles */ {
  color: #2498f4;
  font-size: 2.6766666934336em;
}

h3#tasks{
    padding-left: 10px;
}

h3#analytics{
    padding-left: 42px;
}

h3#recommendations {
  padding-left: 1px;
  padding-bottom: 5px;
  font-size: 2em;
  text-decoration: none;
}

/* paragraphs */
.announcement-text {
  color: #777777;
  font-size: 1.1em;
  padding-top: 17px;
  text-align: center;
}
.announcement-border {
  border-left: 1px #eeeeee solid;
  border-right: 1px #eeeeee solid;
}
.analytics-text {
  color: #a0a0a0;
  font-size: .9em;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 10px;
}

div.form-group#form {
  background: #FFFFFF;
  border-radius: 3px;
  margin-top: 20px;
  padding-right: 12px;
  width: 200px;
  float: right;
}

.form-control {
  width: 155px;
  display: inline;
  margin-right: 2px;
}

.row#ad {
  background: #2498f4;
  height: 220px;
  margin-top: 20px;
  position: relative;
}

#footer-1 {
  background: linear-gradient(#f5f5f5, #fbfbfb);
  box-shadow: 0 4px 8px 0 rgba (0, 0.2, 0, 0), 0 6px 20px 0 rgba(0, 0.19, 0, 0);
  /* shadow http://www.w3schools.com/css/css3_shadows.asp */
  color: #b0b0b0;
  position: relative;
  height: 50px;
  padding-bottom:0;
}

.mini-menu{
  color: white;
  display: inline-block;
  float: right;
  padding: 0px;
  text-align: center;
}


div.box {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  height: 160px;
  margin-bottom: 20px;
}

div.adspace-1 {
  padding-top: 0px;
}

div.adspace-2 {
  padding-top: 0px;
}

div.adspace-3 {
  padding-top: 0px;
}

.ad-block {
  background-color: #2498f4;
  height: 200px;
  padding: 20px 0px;
  position: relative;
  text-align: center;
}

.ad-block-1 {
  background-color: #2498f4;
  position: relative;
  text-align: center;
}


/* images */
img#ad-1 {
  float: left;
}

img#ad-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -11px;
    z-index: 100;
}

img#ad-3 {
  float: right;
}

/* icons */
span#task-icon {
  color: #999999;
  float: right;
  font-size: 1em;
}

/* font */
body, h1, h2, h3, p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* sprite */
.sprite {
  display:block;
}


a.header-links {
  color: #FFFFFF;
}

/*footer elements */

a.tutorials {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #DDDDDD;
  color: #b0b0b0;
  padding: 10px;
  text-align: center;
}

a.support {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #DDDDDD;
  color: #b0b0b0;
  padding: 10px;
  text-align: center;
}

a.blog {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #DDDDDD;
  color: #b0b0b0;
  padding:10px;
  text-align: center;
}

div.footer-text {
  vertical-align: middle;
  padding-top: 15px;
  color: #b0b0b0;
}

a.footer-links {
  vertical-align: middle;
  color: #2498f2;
  font-weight: bold;
}

a.logout {
  font-weight: normal;
  padding-right: 15px;
  border-right: #eeeeee solid 1px;
}


td.rec-list {
  font-size: 1.3383333467168em;
  color: #777777;
}

/* icon header */
.container.icon-content {
  margin-top: 10px;
}

.list-inline {
  display: inline-block;
}

/* internal borders */
.announcement-tb {
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
}

/* form */
input#blue-search {
  background-image: url("css/sprites.png");
}

.left-side {
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-right: none;
  border-top:none;
}

#analytics-container {
  border-bottom: #eeeeee solid 1px;
  border-left:#eeeeee solid 1px;
}

#contacts-container {
    border-bottom: #eeeeee solid 1px;
    border-top: #eeeeee solid 1px;
  }

.end-container {
  border-top-color: #eeeeee;
  border-top-style: solid;
  border-top-width: 1px;
}

#graph-contain {
    padding-right:20px;
}

#activity-contain {
    margin-bottom: 20px;
    padding: 15px;
}

#content-background {
  background: url(shade.png) no-repeat;
  background-size: 100% auto;
  padding: 15px;
}

.white-inside {
  background-color: #FFFFFF;
  /* border */
  border-left-color: #e9e9e9;
  border-left-style: solid;
  border-right-color: #e9e9e9;
  border-right-style: solid;
  border-top-color: #e9e9e9;
  border-top-style: solid;
  border-width: 1px;
}

/* container
.container {
  margin-left: 15px;
}
*/

.ad-box {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  height: 160px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.border-right {
  border-right:1px;
  border-right-style: solid;
  border-right-color: #dddddd;
  padding-top: 0px;
  padding-left: 10px;
}

/* #ariel-winter {

}
*/
.inline {
display: inline-block
}

.foot-pad {
  padding-top: 10px;
}

.foot-space {
  padding-left: 5px;
}

#main-content {
  padding: 10px;
  padding-bottom: 0px;
}

/* override bootstrap */
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* override bootstrap */
.form-control {
  border: none;
}

.task-list {
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-spacing: 7px;
  padding-left: 15px;
}

a.task-link {
  font-size: 1.5em;
  color: #2498f4;
  text-decoration: none;
}


span.green-circle {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;

    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: #33cc66;
    color: white;
    text-align: center;
    font-size: 1em;
}
/* code from Jose Rui Santos http://stackoverflow.com/questions/9358882/how-to-make-a-circle-around-content-using-css */

.green-circle:hover{
  background-color:#cccccc;
}

.task-gray:hover {
  background-color:#cccccc;
}
.task-space {
  padding-left: 10px;
}
.task-link:hover {
  color: #cccccc;
}

a.recommendation-link {
  font-size: 1.2em;
  color: #777777;
  text-decoration: none;

}
.recommendation-list {
  border-bottom-color: #eeeeee;
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-spacing: 2px;
  padding-left: 15px;
}
.sprite-rec {
  display: none;
}

.up {
  color: #ff9b13
}

.analytics-text-1 {
  color: #a0a0a0;
  font-size: .9em;
  text-transform: uppercase;
  padding-left: 10px;
  margin-bottom: 5px;
}

#chart-border {
  border-left-color: #DDDDDD;
  border-left-style: solid;
  border-left-width: 2px;
}

#social {
  text-align: center;
  margin-top: 15px;
}

.checkbox {
  padding: 15px;
}

.check-text {
  color: #FFFFFF;
  border-radius: 5px;
  font-size: .8em;
  padding: 2px 4px;
}

.check-facebook {
  background-color: #114570;
}

.check-twitter {
  background-color: #2298f4;
}

.check-foursquare {
  background-color: #3a599b;
}

.check-google {
  background-color: #31cc66;
}

.user-box {
  border: #f6f6f6 4px solid;
  border: 4px;
  height: 30px;
  margin-top: 0px;
  margin-right: 5px;
  width: 40px;
}

.count {
  float: right;
  font-size: .7em;
  padding-top: 7px;
}

.glyphicon-user {
  font-size: .7em;
}

.help-white {
  margin-top: 10px;

  /*
  border-left: solid 1px #1c85d8;
  border-right: solid 1px #1c85d8;
  */
}


#mini-menu {
  text-align: right;
}

/* header elements */
a.mini {
  padding: 10px;
  text-align: center;
}

a.help {
  /*border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #1c85d8;
  */
  padding: 10px;
  text-align: center;
}

a.settings {
  /*border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #1c85d8;*/
  padding-left: 10px;
  text-align: center;
}

.header-content {
  display: inline-block;
}

.spacer {
  border-left: solid 1px #1c85d8;
  border-right: solid 1px #1c85d8;
}

.pad {
  margin-right: 10px;
}

.tiny-text {
  font-size: .7em;
  margin-bottom: -15px;
}

.for-charts {
  padding-bottom: 20px;
  padding-top:20px;
  text-align: center;
}

.did-you-know {
  padding-bottom:25px;
  padding-top: 25px;
  text-align: center;
}

.bottom-border {
  border-bottom: #eeeeee solid 1px;
}

.top-border {
  border-top: #eeeeee solid 1px;
}

.mini-logout {
 border-right:#eeeeee solid 1px;
}

.bump {
  margin-top: 10px;
  margin-left: -20px;
}

#wrap {
min-height: 100%;
height: auto !important;
margin: 0 auto -50px;
}

.container-fluid#footer-1 {
  padding-left: 0px;
  margin-left: 15px;
}
