
.page-creator-green{
  background-image: url("sprites-3.png");
background-position: 0 0;
width: 60px;
height: 70px;
}
a:hover.page-creator-green{
  background-image: url("sprites-3.png");
background-position: 0 -78px;
width: 60px;
height: 70px;
}
.page-creator-blue{
  background-image: url("sprites-3.png");
background-position: 0 -78px;
width: 60px;
height: 70px;
}
